<!-- Informações do Dashboard -->
<div class="info">
  <div class="info-box">
    <div class="info-box-content">
      <h1>Produtos Cadastrados</h1>
      <p class="info-counter">
        <%= @products.count %>
      </p>
    </div>
    <div class="info-img">
      <%= image_tag "product.png" %>
    </div>
  </div>
  <div class="info-box">
    <div class="info-box-content">
      <h1>Número de Clientes</h1>
      <p class="info-counter">20</p>
    </div>
    <div>
      <%= image_tag "customer.png"%>
    </div>
  </div>
</div>

<div class="content">
  <div class="dashboard">
    <!-- Tabela de produtos -->
    <div class="products">
      <div class="search">
        <h1>Listagem de Produtos em Destaque</h1>
        <p style="color: green"><%= notice %></p>
        <%= search_form_for @q do |f| %>
          <%= f.search_field :description_or_category_category_cont, placeholder: 'Pesquisa' %>
          <%= f.submit name: '' %>
        <% end %>
      </div>
      <% @products = Product.where(featured: true)%>
      
      <%= render "products/products-table" %>
    </div>
  </div>
</div>
