<h1>Nova categoria</h1>

<% if @category.errors.any? %>
    <% @category.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
<% end %>

<br>

<%= form_with model: @category do |form| %>
    <%= form.label :category %>
    <%= form.text_field :category %>
    <br>
    <%= form.submit %>
<% end %>
<br>

<div>
  <%= link_to "Voltar para categorias", categories_path %>
</div>
