<%= form_with(model: product) do |form| %>
  
  <div class="product-form">
    
    <% if product.persisted? %>
      <h1>Detalhes do Produto</h1>
    <% else %>
      <h1>Novo Produto</h1>
    <% end %>

    <br>

    <% if product.errors.any? %>
    <div style="color: red">
      <h2>Atenção! Preencha os campos obrigatórios:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li style = 'list-style: none'><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>

    <br>
  <% end %>

    <div class="product-field-75">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_field :description, class:"product-field" %>
    </div>
    
    <div class="product-form-image">
      <%= form.label :image, style: "display: block" %>
      <% if product.image.present? %>
        <%= image_tag product.image %>
      <% end %>
      <%= form.file_field :image, style: "display: block" %>
      
    </div>

    <div class="product-field-50">
      <%= form.label :price, style: "display: block" %>
      <%= form.text_field :price, class:"product-field" %>
    </div>
    
    <div class="product-field-50">
      <%= form.label :stock_amount, style: "display: block" %>
      <%= form.number_field :stock_amount, class:"product-field" %>
    </div>
    
    <div class="product-field-50">
      <%= form.label :category_id, style: "display: block" %>
      <%= form.select :category_id, Category.all.collect { |c| [c.category, c.id] }, {}, { class:"product-field" } %>
    
      <%= form.label :measure_id, style: "display: block" %>
      <%= form.select :measure_id, Measure.all.collect { |m| [m.measure, m.id] }, {}, { class:"product-field" } %>
    </div>

    <div class="product-form-featured">
      <%= form.label :featured %>
      <%= form.check_box :featured%>
    </div>

    <div class="btn-product-form">
      <%= form.submit 'Salvar alterações', class:"btn-save-product" %>
      <%= form.submit 'Deletar Produto', class:"btn-delete-product" %>
    </div>
  </div>
<% end %>
