<div class="product-show" id="<%= dom_id product %>">
  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <%= image_tag product.image %>
  </p>

  <p>
    <strong>Stock amount:</strong>
    <%= product.stock_amount %>
  </p>

  <p>
    <strong>Featured:</strong>
    <%= product.featured %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  </p>

  <p>
    <strong>Measure:</strong>
    <%= product.measure_id %>
  </p>
</div>
