<%= stylesheet_link_tag "products", "data-turbo-track": "reload" %>

<div class="content">
  <div class="products">
    <div class="search-products">
      <h1>Listando produtos</h1>
      <p style="color: green"><%= notice %></p>
      <%= search_form_for @q do |f| %>
        <%= f.search_field :description_or_category_category_cont, placeholder: 'Pesquisa'%>

        <%= f.check_box :featured_true, {}, 1, nil %>
        <%= f.label :featured_true, 'Produto em destaque' %>
        <%= f.submit name: '' %>
      <% end %>
    </div>
    <div class="list-products">
      <%= render "products-table", product: @product %>
      <%= link_to "Novo produto", new_product_path, class:"link-new-product" %>
    </div>
  </div>
</div>
