<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Editar produto", edit_product_path(@product) %> |
  <%= link_to "Voltar para produtos", products_path %>
  <%= button_to "Excluir produto", @product, method: :delete %>
</div>
